body {
    display: flex;
    font-family: roboto;
    margin: 0;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 36px;
    display: flex;
    font-weight: 400;
    color:#F9FAF8;
    margin-top: 40px;
    padding-right: 300px;

}

.hero-dog {
    width: 400px;
    height: auto;
    display: flex;
    border-radius: 10px;
    margin-right: 60px;
    margin-bottom: 60px;
}

.right-links {
    display: flex;
    text-align: right;
    margin-top: 28px;
    list-style-type: none;
    justify-content: space-around;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;

}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.title-main {
    font-size: 48px;
    font-weight: 800;
    margin-left: 100px;
    margin: 0;
}

.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 40%;
    margin-left: 100px;
    flex-direction: column;
    
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.signup {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
